{# See https://github.com/bigskysoftware/htmx/issues/494#issuecomment-925895667 #}

<script>
  htmx.on("htmx:responseError", function (evt) {
    var errdiv = document.getElementById("any-errors");
    errdiv.innerHTML = `
      <div id="errormessagealert" role="alert">
          <h4>Request Error: ` + evt.detail.xhr.status + `
              <a onclick="errormessagealert_off()">Close [X]</a>
          </h4>
          <code>` + evt.detail.xhr.responseText + `</code>
      </div>`;
    errormessagealert_on();
  });

  function errormessagealert_on() {
    document.getElementById("errormessagealert").style.display = "block";
  }

  function errormessagealert_off() {
    document.getElementById("errormessagealert").style.display = "none";
  }
</script>

<style>
  #errormessagealert {
    display: none;
    /* Hidden by default */
  }
</style>
